<div id="id_ideias">
	<ul id="setor_ideia">            
	  <% @temas_solicitado.each do |d| %>
	    <li>
	      <b><%= d.titulo %></b><br />
	      <%= d.texto_ideia[0..100] %>... <br /><br />
	      <div style="float:left;">
	        Ideia enviada por: <%= d.nome %>
	      </div>
	      <div style="float:right;">
	        <a href="javascript:void(0);" class="ver_mais" data-ideia="<%= d.codigo%>">Ver Mais</a>  
	      </div><br /><br />
	      <a href="javascript:void(0);" class="classificar btn btn-primary" data-opcao="sim" data-ideia="<%= d.codigo%>" role="button">
          	<i class="fa fa-thumbs-o-up "></i> Gostei
          </a>&nbsp;
          <a href="javascript:void(0);" class="classificar btn btn-primary" data-opcao="nao" data-ideia="<%= d.codigo%>" role="button">
            <i class="fa fa-thumbs-o-down "></i> Não Gostei
          </a>&nbsp; 
	      <br /> <br />
	      <!--div id="fb-root"></div>  
	      <div class="fb-share-button" data-href="/banco_ideia/exibir_ideia_completa?codigo_ideia=<%=d.id%>"></div>
	      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="/banco_ideia/exibir_ideia_completa?codigo_ideia=<%=d.id%>">Tweet</a>
	      <div class="g-plusone" data-size="tall" data-annotation="none"></div-->
	    </li>
	  <% end %>            
	</ul>
</div>  
<%= javascript_include_tag "app"%>